artifacts/
build
cache/
coverage.json
coverage/
crytic-export/
design-docs
echidna-corpus/
flatten/
node_modules/
reports
typechain/

.env
.vscode/
/local/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

\#*\#
.\#*

*.sol.original
