{
    "printWidth": 120,
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "newline-before-return": true,
    "no-duplicate-variable": [true, "check-parameters"],
    "no-var-keyword": true,
    "useTabs": false,
    "overrides": [
        {
          "files": "*.sol",
          "options": {
            "singleQuote": false,
            "tabWidth": 4
          }
        }
      ]
}
