{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "newline-before-return": true,
    "no-duplicate-variable": [true, "check-parameters"],
    "no-var-keyword": true,
    "useTabs": false,
}
