{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "bracketSpacing": false,
    "useTabs": false,
    "overrides": [
        {
          "files": "*.sol",
          "options": {
            "singleQuote": false,
            "tabWidth": 4
          }
        },
        {
          "files": "*.json",
          "options": {
            "singleQuote": false,
            "tabWidth": 2
          }
        }
    ]
}
